/* 
    Document   : style
    Created on : 14.02.2014, 15:36:47
    Author     : chris
    Description:
    Purpose of the stylesheet follows.
*/


root { 
    display: block;
}

body {
    margin: 0px;
    font-family: "Helvetica Neue";
    font-weight: normal;
}

div {
    display: block;
    text-align: left;
    font-size: 1.0em;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 150%;
}

h1 {
    margin: 0px;
    font-size: 1.3em;
    font-weight: normal;
}

h1.caps {
    text-transform: uppercase;
}

.header {
    color: white;
    text-align: right;
    background-color: rgb(177, 20, 20);
    /* height: 44px; */
    /*padding: 20px;*/
    /*padding-bottom: 10px;*/
}

.image {
    text-align: center;
    overflow: hidden;
    padding: 0px;
}

img {
    display: block;
    width: 100%;
    
}

.verse {
    color: #4d4d4d;
    background-color: #e6e6e6;
    text-align: left;
    font-size: 1.0em;
    padding: 20px;
    
}

.content {
    background-color: #7186b5;
    color: #ffffff;
}

.gospel {
    background-color: #7186b5;
    color: #ffffff;
}

.gospel i {
    color: red;
    font-size: 0.8em;
    font-style: italic;
}
